{% extends "layout.html" %}

{% block head_content %}
{% endblock %}

{% block main_content %}
    <h1 class="username">{{ username }}'s Account:
      {% if username in current_user.following %}
      <a class="follow__button" href="{{ url_for('pages.unfollow', account=username) }}">Unfollow</a>
      {% else %}
        <a class="follow__button" href="{{ url_for('pages.follow', account=username) }}">Follow</a>
      {% endif %}
    </h1>
    <h2 class="posts">Followers = {{ _account.follower|length }}</h2>
    <h2 class="posts">Following = {{ _account.following|length }}</h2>
    <h2 class="posts">{{ username }}'s Posts</h2>
    {% for post in posts %}
    <div class="post-container">
        <div class="post">
            <h2 class="post__title">{{ post.title }}</h2>
            <div class="post__body">
                <p>{{ post.body }}</p>
                <div class="post__footer">
                  <span class="post__date">Date Posted: {{post.date}}</span>
                  <span class="post__likes">Likes: {{ post.likes }}</span>
                </div>
              </div>
        </div>
    </div>
        
    {% endfor %}

{% endblock %}